Dear customer,

your Registry invoice for last month is attached to this email
and also available for download in the customer interface under --> Finances --> Invoices.

Username: <TMPL_VAR NAME="registrar_clid">
Amount: <TMPL_VAR NAME="total_price"> <TMPL_VAR NAME="currency">

Should you have any further questions, please do not hesitate to contact us.

Best regards,

Your team @nic.xx

Registry LTD
main street 1                           Web:
111 St. qqqqqqqqq                       www.nic.xx
Tel.: +11 (0) 1111 - 11111
Fax.: +11 (0) 1111 - 11 11 111
Email: support@nic.xx

CEO: First Last
Registration No.: 123123123
V.A.T. ID.: 123123321321

This e-mail and its attachments is intended only for the person to whom
it is addressed. If an addressing or transmission error has misdirected
this e-mail, please notify the author by replying to this e-mail or
contacting us by telephone. Furthermore it is not allowed to publish any
content of this Email. If you are not the intended recipient you must
not use, disclose, copy, print or rely on this e-mail.
